.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  input,
  .p-dropdown {
    height: 48px;
  }

  small {
    color: red;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button {
    height: 48px;
  }
}
