<form [formGroup]="form" class="form">
  <div class="field">
    <label>User Id</label>
    <input
      [readonly]="true"
      pInputText
      formControlName="_id"
      placeholder="Enter user id"
      type="number"
    />
    @if (submitted && form.get("_id")?.hasError("required")) {
      <small> User Id is required </small>
    }
  </div>

  <div class="field">
    <label>Name</label>
    <input pInputText formControlName="name" placeholder="Enter name" />
    @if (submitted && form.get("name")?.hasError("required")) {
      <small> Name is required </small>
    }
  </div>

  <div class="field">
    <label>Email</label>
    <input pInputText formControlName="email" placeholder="Enter email" />
    @if (submitted && form.get("email")?.hasError("required")) {
      <small> Email is required </small>
    } @else if (submitted && form.get("email")?.hasError("email")) {
      <small> Enter a valid email </small>
    } @else if (submitted && form.get("email")?.hasError("duplicateEmail")) {
      <small>Email already exists</small>
    }
  </div>

  <div class="field">
    <label>Role</label>
    <p-dropdown
      [options]="roles"
      formControlName="role"
      placeholder="Select role"
      appendTo="body"
      scrollHeight="150px"
    ></p-dropdown>
    @if (submitted && form.get("role")?.hasError("required")) {
      <small> Role is required </small>
    }
  </div>

  <div class="actions">
    <button
      pButton
      [label]="formType === 'edit' ? 'Edit User' : 'Add User'"
      (click)="submit()"
      type="button"
    ></button>
    <button pButton label="Cancel" (click)="cancel()" type="button"></button>
  </div>
</form>
